.my-projects {
    .projects-container {
        display: flex;
        padding: 10px;

        .project-card {
            border: 1px solid #e0e0e0;
            border-radius: 3px;
            padding: 10px;
            margin: 5px;

            .project-name {
                font-weight: bold;
                margin-bottom: 5px;
                a {
                    text-decoration: none;
                    color: #000;
                }
            }

            .project-image {
                width: 150px;
                height: auto;
                border-radius: 3px;
            }
        }
    }
}
.my-skills {
    .skills-container {
        display: flex;
        padding: 10px;

        .skill-card {
            border: 1px solid #e0e0e0;
            border-radius: 3px;
            padding: 10px;
            margin: 5px;
            width: 100%;

            .skills-name {
                display: flex;
                align-items: center;
                font-weight: bold;
                margin-bottom: 5px;

                .tabler-icon {
                    margin-right: 5px;
                    margin-top: 5px;
                    color: navy;
                }
            }
            .skills-list {
                display: flex;  
                flex-wrap: wrap;
                .skill-item {
                    border: 1px solid #b5b09d;
                    border-radius: 10px;
                    margin: 5px;
                    padding: 5px;
                    list-style-type: none;
                    width: fit-content;
                    background-color: #b5b09d;
                    
                }
            }

            
        }
    }

}
.my-skills, .my-projects {
    background: linear-gradient(to right, #b5b09d, #d1cebf);
    padding: 10px;
}

.skills-title, .project-title {
    padding-left: 15px;
}
